.tag-wrapper {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 16px;
    background-color: var(--light-grayish-cyan-filter-tablets);
    border-radius: 4px;
    font-weight: 700;
    color: var(--desaturated-dark-cyan);
}

.tag-wrapper:hover {
    cursor: pointer;
    color: var(--light-grayish-cyan-background);
    background-color: var(--desaturated-dark-cyan);
}

.tag-wrapper p {
    margin-bottom: 14px;
}