.pill-wrapper {
    display: flex;
    align-items: center;
    height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    background-color: var(--desaturated-dark-cyan);
    border-radius: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.pill-wrapper p {
    margin-bottom: 12px;
}

.dark {
    background-color: var(--very-dark-grayish-cyan);
}

