*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}