:root {
  /* GLOBAL VARS */

  /* Colors */
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan-background: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);

  /* Shadows */
  --shadow-color: 180deg 16% 74%;
  --shadow-elevation-medium:
    0px 1px 1.2px hsl(var(--shadow-color) / 0.17),
    0px 3px 3.6px -0.7px hsl(var(--shadow-color) / 0.19),
    -0.1px 6.8px 8.1px -1.4px hsl(var(--shadow-color) / 0.2),
    -0.2px 15.8px 18.7px -2.1px hsl(var(--shadow-color) / 0.22);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--light-grayish-cyan-background);
  font-size: 15px;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
