.active-tag-wrapper {
    display: flex;
    flex-direction: row;
    margin-right: 16px;
    cursor: pointer;
}

.tag-label-wrapper {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: var(--light-grayish-cyan-filter-tablets);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-weight: 700;
    color: var(--desaturated-dark-cyan);
}

.close-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--desaturated-dark-cyan);
}

.active-tag-wrapper:hover .close-button {
    background-color: var(--very-dark-grayish-cyan);
}