.active-tag-card-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    margin: 24px;
    box-shadow: var(--shadow-elevation-medium);
    height: 92px
}

.inner-tag-wrapper {
    display: flex;
    align-items: center;
}